{{#section 'head'}}

	 <style type='text/css'>

		.chart{
			/*border: 1px solid #dedede;*/
			height:400px;
		}

		.chart rect {
		  fill: steelblue;
		}

		.chart text {
		  fill: white;
		  font: 10px sans-serif;
		  text-anchor: end;
		}

		.axis text {
		  font: 10px sans-serif;
		}

		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

	</style>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>

{{/section}}

{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/dashboard/">Dashboard <span class="sr-only">(current)</span></a></li>
        <li><a href="/users/account/">Your Account</a></li>
        <li><a href="/feedback/">Feedback</a></li>
    </ul>
{{/section}}


<h2 class="page-header">Dashboard</h2>


	<!--input type="text" name="daterange" value="{{startDate}} - {{endDate}}" /-->

	<div class="col-md-2">
		<ul>
			{{#each weeks}}
				<li> <a href="/dashboard/week-{{this}}/">Week {{this}} </a> </li>
			{{/each}}
			<li> <a href="/dashboard/">This Week </a> </li>
		</ul>
	</div>
	<div class="col-md-8 chart-wrapper">	<svg class="chart" id="chart"></svg> </div>

	

{{#section 'footer_scripts'}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.js"></script>
	
	<!-- Include Date Range Picker -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

	<script src="/public/js/chart.js"></script>
	<script>

		var chart = new Chart().render({{{counts}}});

		$(window).on('resize', function(){
		    clearTimeout(window.resizing);
		    window.resizing = setTimeout(function(){
		      	chart.rerender({{{counts}}});
		    }, 200);
	  	});

	</script>

{{/section}}


