{{#section 'sidebar'}}
    <ul class="nav nav-sidebar">
        <li><a href="/dashboard">Dashboard </a></li>
        <li><a href="/users/account/">Your Account</a></li>
        <li class="active"><a href="/feedback/">Feedback <span class="sr-only">(current)</span></a></li>
    </ul>
{{/section}}

<h2 class="page-header">Feedback</h2>

<form method="POST" action="/feedback/" class="form">
	
	{{#if successMessage}}
		<div class="alert alert-success">
			{{successMessage}}
			<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
		</div>
	{{/if}}

	<div class="form-group">
		<label for="comment">Comments:</label>
  		<textarea class="form-control" rows="5" id="comment" name='comment'></textarea>
	</div>

	<button class="btn btn-primary" type="submit">Send</button>
</form>
